* {
    box-sizing: border-box;
}

.btn-start {
    background-color: blueviolet;
    color: white;
    border: 2px solid blue;
    border-radius: 15px;
    margin: 15px auto;
    display: block;
    width: 10rem;
    height: 2rem;
}

.container {
    width: 800px;
    height: 900px;
    border: 5px solid black;
    margin: 15px auto;
    background-image: url("./res/calendar.jpg");
    background-size: cover;
    box-shadow: 6px 6px 20px gray;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
        "door9  door6  door11 door7"
        "door3  door20 door16 door2"
        "door14 door12 door19 door15"
        "door22 door1  door5  door23"
        "door17 door10 door24 door21"
        "door8  door18 door4  door13";
}

.image {
    background-image: none;
    background-size: cover;
    background-position: center;
    position: relative;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-align: center;
    z-index: 1;
    pointer-events: none;
}

.number-inside {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 50%;
    z-index: 2;
}
